/* Header/logo Title */
.header {
    padding: 60px;
    text-align: center;
    background-image: url("../DL1_Lesson/images/bgr.jpg");
    background-color: #cccccc;
    background-repeat: repeat;
    color: white;
}

/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
}
.container {
position: relative;
width: 50%;
}

.image_logo {
opacity: 1;
display: inblock;
align-self: center;
width: 15%;
height: 15%;
transition: .5s ease;
backface-visibility: hidden;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%)
}

.container:hover .image {
opacity: 0.3;
}

.container:hover .middle {
opacity: 1;
}

.text {
color: white;
font-size: 16px;
padding: 16px 32px;
}


/* Main column */
.main {
    flex: 60%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.NewsImage {
    max-width: 100%;
    height: auto;
    width: 100%;

}
/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}
html,body,h1,h2,h3,h4,h5,h6,.text {font-family: "Roboto", sans-serif;}
#demoparagraph {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-gap: 10px;
-moz-column-gap: 10px;
column-gap: 10px;
-webkit-column-rule: 1px solid rgba(28,110,164,0.5);
-moz-column-rule: 1px solid rgba(28,110,164,0.5);
column-rule: 1px solid rgba(28,110,164,0.5);
}
* {
    box-sizing: border-box;
}

/* Style the body */
body {
    margin: 0;
}
.highlightme { background-color:#FFFF00; }
p { background-color:#FFFFFF; }
